#about-black {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


#about-black .pattern-secondary-corner {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 35vh;
}

#about-black .pattern-secondary-right {
    position: absolute;
    left: 0;
    top: 0;
    height: 35vh;
}

#about-black .container-about {
    z-index: 1000;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8vh;
    left: auto;
    right: auto;
    width: fit-content;
}


#about-black .aligner-left {
    display: flex;
    flex-direction: column;
    align-self: flex-start; /* Aligns the surname to the right */
    margin-left: 0;      /* Optional: adjust if needed */
    gap: 3vh;
}

#about-black .aligner-right {
    display: flex;
    flex-direction: column;
    align-self: flex-end; /* Aligns the name to the left */
    margin-right: 0;         /* Optional: in case you want fine control over its position */
}

#about-black .explore-btn {
    background: linear-gradient(90deg, #D95870 0%, #C6435B 100%);
    border-radius: 30px;
    position: absolute;
}

.explore-btn img {
    padding: 1.5vh 5.5vw 1.5vh 5.5vw;
}

.align-to-right {
    right: 0;
}

.align-to-left {
    left: 0;
}

.my-keey-dates {
    position: absolute;
    width: 50%;
    background-color: aqua;
    height: 50%;
}