body {
    background-color: #171717;
}

/* The switch - the box around the slider */
.switch {
    z-index: 1000;
    position: absolute;
    display: inline-block;
    width: 5vw;
    height: 3.5vh;
    right: 10vw;
    top: 11vh;
    transform: rotate(35deg);
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    transition: .4s;
    outline: 3px solid #D4D4D4;
    border-radius: 50px;
}

/* Circle inside the slider */
.slider:before {
    position: absolute;
    content: "";
    height: 75%; /* Set based on parent height to make it adaptive */
    width: 28%;
    /*width: 75%; !* Keep it proportional *!*/
    left: 5%; /* Small padding to the left */
    bottom: 12.5%; /* Center it vertically */
    background-color: #D2546B;
    transition: .4s;
    border-radius: 50%; /* Make the circle rounded */
}

/* When the input is checked */
input:checked + .slider {
    background-color: #D4D4D4;
}

input:checked + .slider:before {
    transform: translateX(200%); /* Moves to the right edge */
    background-color: #D2546B;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
